@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.yblank {
  padding: 20px 30px; 
  position: absolute; 
  top: 100px; 
  bottom: 100px;
  content: ".";
  visibility: hidden;
}

.bg {
  /* The image used */
  background-image: url("./images/crane.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

orish {
  color: #E99549;
}

redish {
  color: #E74E4C;
}

pinkish {
  color: #E31493;
}

bluish {
  color: #2437DE;
}

.bluish_inv {
  border-color: #2437DE;
  background-color: white;
  color:#2437DE;
}

.orish {
  background-color: #E99549
}

.redish {
  background-color: #E74E4C;
}

.pinkish {
  background-color: #E31493;
}

.bluish {
  background-color:#2437DE;
  /*background-color: #2437DE;*/
  border-color: #2437DE;
}

header {
  margin-top:4rem;
  line-height: 3.7rem;
  margin-bottom:4rem;
}
html, 
body {
  color: #000000;
}

h1 {
  display: flex;
  font-size: 8rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: -0rem;
}

.h1_su23 {
  display: flex;
  font-style: italic;
  font-size: 3rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  display: flex;
  font-size: 2.2rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

}

h3 {
  display: inline;
  font-size: 1.8rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  vertical-align: 2rem;
}

h4 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin-bottom:20px;
  vertical-align: 2rem;
}

h5 {
  font-size: 1.6rem;
  margin-bottom:-10px;
}

h6 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
}


.body {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 2rem;
  margin-left: 32%;
}

ul {
  white-space: pre-wrap;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: black;
  height: 90vh;
}

label {
  font-size: 1.5rem;
}

.slide {
  align-self: center;
  align-items: center;
  align-content: center;
}

iframe { 
  display: block; margin: 0 auto; 
  resize: both;
  overflow: auto;
  border: 0px;
}

textarea {
  width: 100%;
  height: 2000px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
  overflow: auto;
}

.invis {
  color: white;
  height: 80px;
}

.invis1 {
  color: white;
  height: 60px;
}

.invis2 {
  color: white;
  height: 40px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  margin-top:25 px;

}

/* *table */

td {
  /*background-color: rgb(189, 202, 232);*/
  color: black;
  width: 1px;
  padding: 10px;
  border-spacing: 10px;
}

.td_info {
  color: black;
  width: 1px;
  padding: 10px;
  border-spacing: 10px;
}

.table_calendar {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.table_info {
  table-layout:fixed;
  outline-width: 2px;
  outline-color: red;
  margin:0;
  width:100%;
  height: 100%;
  text-align: center;
  overflow:scroll;
  position:relative;
  /*top: 19%;*/
}


.tr_info, td_info {
  width:0.1%;
  vertical-align: top;
  white-space: nowrap;
}

.tbody_calendar {
  background-color: rgb(189, 202, 232);
  color: black;
  width: 1px;
  padding: 10px;
  border-spacing: 10px;
}

.tbody_info {
  background-color: white;
  color: black;
  width: 13%;
}


img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 10%;
}

/* *positioning */

.off_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
}

.off_left {
  width: 17rem;
  height: 17rem;
  /*border: 1px solid magenta;*/
  align-content: center;
  /*
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 16rem;
  */
}

.off_left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.off_right {
  justify-content:center;
  display:flex;
  width: 17rem;
  height: 17rem;
  flex-direction:column;
  align-items: center;
  margin:0;
}

.off_wrapper_small {
  display: flex;
  font-size: 0px;
  height:12rem;
  justify-content:space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.whiteboard {
  display:flex;
  /*border:#2437DE solid 3px;*/
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  padding:10px;
  font-size:13px;
  overflow-y:scroll;
  width: 17rem;
  height: 12rem;
  box-shadow: 0px 0px 13px 2.5px #2437DE;
}

.info {
  text-decoration: underline;
}

.subbox {
  font-size: 15px;
  margin: 0px;
  display: flex;
  width: 8rem;
  height: 7.5rem;
  align-items: center;
  flex-direction:column;
  justify-content: space-between;
}  

.btns {
  margin: 0px;
  display: flex;
  width: 8rem;
  height: 6rem;
  align-items: center;
  flex-direction:column;
  justify-content:center;
  gap: 35px;
}


.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center_table {
  margin-left: auto;
  margin-right: auto;
}

.center_text {
  text-align: center;
}

.pad {
  height:10rem;
}

/* *buttons */

button {
  color: white;
  cursor:pointer;
  border: none;
  border-radius: 10px;
  height:18px;
  width: 48px;
  font-size: 11px;
  margin: 3px;
}
button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.23);
}

.button_drive {
  /*background-color: black;*/
  /*overflow: hidden;*/
  margin-top: 2.5rem;
  height: 6rem;
  width: 6rem;
  background-color: white;
  border:#ffffff;
}

.button_drive img {
  height: 85%;
  width: 100%;
  object-fit: cover;
}

.obutton {
background-color: #E99549;
}
.pbutton {
background-color: #E31493;
}

.rbutton {
background-color: #E74E4C;
}


.button_large {
  border-radius: 40px;
  height:72px;
  width: 200px;
  font-size: 22px;
  margin: 20px;
  cursor:pointer;
  margin: 3rem;
}

.button_med {
  font-weight: 900;
  border-radius: 20px;
  height:42px;
  width: 100px;
  border: 2px solid;
  font-size: 13px;
  margin-top: -30px;
  padding: 0%;
  margin-bottom: -30px;
}

.btn_med_inv {
  font-weight: 900;
  border-radius: 20px;
  height:42px;
  width: 120px;
  border: 3px solid;
  font-size: 14px;
  margin-top: -30px;
  padding: 0%;
  margin-bottom: -30px;
}

.btn_med_inv:hover{
  box-shadow: none;
  background-color:#2437DE;
  color:white;
}

/*
.button_med {
  border-radius: 20px;
  height:42px;
  width: 100px;
  font-size: 13px;
  margin-top: -30px;
  margin-bottom: -30px;
}*/

.button_small {
  border-radius: 10px;
  height:18px;
  width: 48px;
  font-size: 11px;
  cursor:pointer;
  margin: 3px;
}

.b {
  
  border-radius: 40px;
  height:72px;
  width: 200px;
  font-size: 22px;
  margin: 20px;
  margin-bottom: 3rem;
}
.homepage {
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 25px;
  margin-left: 30rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  background-color: #000000;
  color: white;
  text-decoration:none;
  text-decoration-color: #E99549;
}

.bb {
  position:absolute;
  width:100%;
  height:100%;
  background-color: rgb(0, 0, 0);
  color: white;
}

.wb {
  position:fixed;
  width:100%;
  height:100%;
  background-color: rgb(255, 255, 255);
  color: black;
}

.background_black {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  background-color: black;
}


a { text-decoration: underline;}

a:visited { 
  text-decoration: none; 
  color:white;
  /*color: orange;*/ 
 }

.dtext {
  text-align: center;
  font-weight: 900;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  margin-left:auto;
  margin-right:auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.pop-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.TopNav ul {
  align-self: center;
  align-items: center;
  align-content: center;
  display: inline;
  list-style: none;
  padding: 25;
  margin: 0;
}

#in_line ul {
  align-self: center;
  align-items: center;
  align-content: center;
  list-style: none;
  padding: 25;
  margin: 40;
}

#in_line li {
  align-self: center;
  align-items: center;
  align-content: center;
  display:inline;
}

#in_line a {
  align-self: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: white;
  width: 100px;
  padding: 25px 20px;
  text-align: center;
}

.TopNav li {
  align-self: center;
  align-items: center;
  align-content: center;
  display: inline-block;
}

.TopNav a {
  align-self: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: white;
  width: 500px;
  padding: 25px 20px;
  text-align: center;
}

.pop-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}